apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-rolling-update
  annotations:
   kubernetes.io/change-cause: "webserver upgarde"
spec:
  replicas: {{ .Values.replicano }}
  selector:
    matchLabels:
      app: web
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 25%
  template:
    metadata:
      labels:
       app: web
    spec:
      containers:
        - name: web-server-1
          image: {{ .Values.image.repo }}:{{ .Values.image.tag }}
          ports:
            - containerPort: 80